body { margin:0; padding:0; font-size:100%; line-height:1; }

html, body {
  height: 100%;
}

ul {
	display: block;
    list-style-type: disc;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

h2 {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
}

body {
	background: #35BAF0;
	font-family: "proxima-nova";
	font-size: 16px;
	display: flex;
	height: 100%;
}

.landing {
	width: 100%;
	flex: 1;
	display: flex;
	display:none;
  	align-items: center;
  	justify-content: center;

}

/*.tk-proxima-nova and .tk-adelle*/
.landing h1 {
	font-size: 4em;
	text-align: center;
	color: #E8F8FF;
	line-height: 3em;	

}

.user-type {
	display:none;
	/*display: flex;*/
	width:100%;
	justify-content: center;
	align-items: center;
	flex-direction:column;

}

.what-listen h2{
	align-self: flex-start;
	font-size:3em;
	color: #E8F8FF;	
}


.has-podcasts h3{
	color: #E8F8FF;
	font-size: 2em;
} 
.new-to-podcasts h3{
	color: #E8F8FF;	
	font-size: 2em;
}

.btn {
	border: 1.5px solid #fff; 
	border-radius:5px;
	padding:6px;
	margin:6px;
	width:90%;
    text-align: center;
    /*box-shadow: 2px 2px 11px #333;*/
    cursor: pointer;
    max-width: 550px;
    -webkit-transition: background .1s;
    transition: background .1s;
    -webkit-transition-timing-function: linear;
}

.btn:active{
	background: #FFFDB8;
	/*border: 2px solid #fff;*/
    /*box-shadow: 0px 0px 3px #333;*/
}

#container {
	background: #35BAF0;
	display: flex;
	flex-direction:column;
	width:100%;
}
.list-header {
	height: 8.5em;
}
.list-header p {
	width: 100%;
    text-align: center;
	justify-content: center;
	align-self: flex-start;
	font-size: 2.5em;
    line-height: 1em;
	color: #E8F8FF;	
}

.like {
	font-family: "adelle";
	background: #FFFDB8;
	border: 1.5px solid #fff; 
	color: #F74E2F;
	border-radius:5px;
	padding:6px;
	margin:6px;
	width: 90%;
    text-align: center;
    height: 3em;
    line-height: 3em;
    margin: 6px auto 6px auto;
    cursor: pointer;
    max-width: 550px;
    min-width: 300px;
	font-size: 1.2em;

}

.like ul {
	justify-content: center;
}

.swipe-container {
	display: flex;
	flex-direction:column;
	width: 100%;

}
.podcast-image img {
	width: 100%;
	height: auto;
	flex: 1;
} 
.swipe-header {
	top:0px; 
	margin:auto; 
	width:100%;
	background: #35BAF0;
	height: 5em;
}

.swipe-header h2 {
	font-family: "proxima-nova";
	font-size: 3em;
	letter-spacing: .1em;
	line-height: 1.5em;
	color: #fff;
	text-align: center;
}
