body { margin:0; padding:0; font-size:100%; line-height:1; }

html, body {
  height: 100%;
}

body {
	background: #83D0AF;
	font-family: "proxima-nova";
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.landing {
	width: 100%;
	flex: 1;
/*	display: flex;
*/
	display:none;
  	align-items: center;
  	justify-content: center;

}

/*.tk-proxima-nova and .tk-adelle*/
.landing h1 {
	font-size: 4em;
	text-align: center;
	color: #E8F8FF;
	line-height: 3em;	

}

.user-type {
	display: flex;
	width:100%;
	justify-content: center;
	align-items: center;
	flex-direction:column;
}

.what-listen h2{
	align-self: flex-start;
	font-size:3em;
}


.has-podcasts h3{
	font-size: 2em;
} 
.new-to-podcasts h3{
	font-size: 2em;
}

.btn {
	border: 1px solid #666; 
	border-radius:5px;
	padding:6px;
	margin:6px;
	width:90%;
    text-align: center;
    box-shadow: 2px 2px 11px #333;
    cursor: pointer;
}

.btn:active{
	border: 1px solid #333;
    box-shadow: 0px 0px 3px #333;
}